<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-5">
      <% if (error) { %>
      <div class="alert alert-danger"><%= error %></div>

      <script>
        setTimeout(() => {
          window.location.href = "/";
        }, 10000); // 10 seconds = 10000 milliseconds
      </script>
      <% } %>

      <form action="/user/signup" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Full Name</label>
          <input
            name="username"
            type="text"
            class="form-control"
            id="username"
            aria-describedby="usernameHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            Email in Japanese is メール (mēru)
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
